*{
    padding: 0;
    margin: 0;
}
body {
    background-image: url(./imgs/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    
  }
 header nav ul  {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #2c87c5;

  }
  li {
    display: inline-block;
    margin: 0 10px;

  }
  a {
    display: block;
    padding: 10px;
    color: #0186da;
    text-decoration: none;
    font-size: 20px;
  }
header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /*display: flex;*/
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
        
  }
  
  .arrow-container {
    position: fixed;
    bottom: 0;
    right: 750px;
    width: 89px;
    height: 120px;
    animation: bounce 2s ease-in-out infinite;
    margin: 5px;
    display: none;
  }
 
 
  .arrow-line {
    left: 36px;
    position:absolute;
    width: 50px;
    border: 4px solid #0186da;
    border-radius: 15px;
    transform: rotate(132deg);
  }
  
  .arrow-line2{
    position:absolute;
    width: 50px;
    border: 4px solid #0186da;
    border-radius: 15px;
    transform: rotate(47deg)
  }
  
  @keyframes bounce {
      0%   {bottom: -20px;}
      50%  {bottom: 0px;}
      100% {bottom: -20px;}
  }
  /*header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
    background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
    z-index: 1;
}*/

header {
    font: 900 49px asap,arial;
    color: #0186da;
    letter-spacing: -1px;
    text-shadow: 0 2px 2px #ddd;
    word-wrap: break-word;
    text-align: center;
    margin: 60px auto;
}
/* .call {
    content: "";
    position: absolute;
    left: 650px;
    top: 500px;
    height: 20px;
    padding: 1px 2px 39x;
    margin: 1px 2px 3px;
} */

#main {
    margin: 0 auto 20px auto;
    max-width: 758px;
    /*box-shadow: 0 1px 4px #ccc;*/
    border-radius: 2px;
    padding: 30px 30px 20px;
    /*background: #40E0D0;*/
    text-align: center;
    margin: 60px auto;
}


#main #url {
    display: table-cell;
    width: 50%;
    height: 56px;
    padding: 17px 8px;
    font: 17px lato,arial;
    color: #000;
    background: #fff;
    border: 2px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    top: -6px;
  }




#main #short {
    padding: 13px 22px;
    font: bold 17px lato,arial;
    color: #fff;
    background-color: #0186da;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    border: 0;
    border-radius: 3px;
    margin-left: 17px;
    margin: 18px;
}




.LinksDad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    margin: auto;
}





.Link{
    font: bold 17px lato,arial;
    color: #fff;
    background-color: #2c87c5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    border: 0;
    border-radius: 3px;
    font-size: 17px;
    padding: 8px;
    text-decoration: none;
    
}

.form {
    position: relative;
    top: 58px;
}
.form h1 {
    color: #0186da;
    position: relative;
    top: -31px;
    font-size:  37px;;
}

.form input {
    display: table-cell;
    width: 50%;
    height: 56px;
    padding: 17px 8px;
    font: 17px lato,arial;
    color: #000;
    background: #fff;
    border: 2px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    top: -6px;
}
.form textarea {
    display: table-cell;
    width: 50%;
    height: 56px;
    padding: 17px 8px;
    font: 17px lato,arial;
    color: #000;
    background: #fff;
    border: 2px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    top: -6px;
    right: -63px;
}
.form button {
    padding: 13px 22px;
    font: bold 17px lato,arial;
    color: #fff;
    background-color: #0186da;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    border: 0;
    border-radius: 3px;
    margin-left: 17px;
    margin: 18px;
    position: relative;
    top: 35px;
    right: 254px;
}

#contact {
    text-align: center;
    position: relative;
    top: -41px;
}
@media (max-width: 450px){
    .head {
        font-size: 20px;
        position: relative;
        top: 80px;
    }
    #header {
        font: 900 20px asap,arial;
    }

    /* .call {
        content: "";
        width: 10px;
        height: 90px;
        position: absolute;
        bottom: -13px;
        left: 138px;
    } */
    #main {
        padding: 10px;
        overflow-wrap: break-word;
    }

    .arrow-container {
       right: 144px;
    }
    #main #url {
        width: 95%;
        height: 40px;
        padding: 5px 8px;
        margin: 10px auto;
    }
    .form input {
        width: 95%;
        height: 40px;
        padding: 5px 8px;
        margin: 10px auto;
    }
    .form textarea {
        width: 95%;
        height: 40px;
        padding: 5px 8px;
        margin: 10px auto;
        right: 0px;
    }
    
    .form button {
        font-size: 15px;
        height: auto;
        position: relative;
        top: -9px;
        right: 7px;
    }
    #main #short {
        font-size: 15px;
        height: auto;
    }

}